//---> Create	:	1397.01.06
//---> Finish	:	1397.01.06
//---> Update	:	1398.10.04
/*****************************/

.button {
	text-align: center;
	color: #fff;
	border: 0;
	transition: background-color 250ms;
	cursor: pointer;
	
	&.button_crimson {
		color: #fff;
		background-color: crimson;
		&:hover {
			background-color: #EB2D53;
		}
	}
	
	&.button_indigo {
		color: #fff;
		background-color: #3F51B5; //500
		&:hover {
			background-color: #5C6BC0; //400
		}
	}
	
	&.button_blue {
		color: #fff;
		background-color: $color_blue_300;
		&:hover {
			background-color: $color_blue_200;
		}
	}
	
	&.button_cyan {
		color: #fff;
		background-color: $color_cyan_400;
		&:hover {
			background-color: $color_cyan_300;
		}
	}
	
	&.button_orange {
		color: #fff;
		background-color: $color_orange_500;
		&:hover {
			background-color: $color_orange_300;
		}
	}
	
	&.button_pink {
		color: #fff;
		background-color: $color_pink_400;
		&:hover {
			background-color: $color_pink_300;
		}
	}
	
	&.button_green {
		color: #fff;
		background-color: $color_green_500;
		&:hover {
			background-color: $color_green_300;
		}
	}
	
	&.button_red {
		color: #fff;
		background-color: $color_red_a200;
		&:hover {
			background-color: $color_red_a100;
		}
	}
}
